body{
    font-size: 16px;
}

.my-align-center {
    display: flex;
    align-items: center;
}

.my-container {
    padding: 0 5em 0 5em;
}

.my-container-header {
    padding: 0 10.1em 0 10.1em;
}

.header .info {
    align-items: center;
}

.header .info img{
    width: 10em;
}

.header .phone_number {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    background-color: #f2dfbc;
    padding: .5em;
    height: 2em;
    border-radius: 8px;
    font-weight: 500;
    margin-left: 1em
}

.wrap-notif {
    width: 1.25em;
    height: 1.25em;
    background-color: red;
    padding: 4px;
    margin-left: 1em;
    border-radius: 50%;
    position: relative;
}

.notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8em;
    color: #fff;
}

.navbar {
    background-color: #bae9ea;
    font-weight: 700;
    display: flex;
}

.navbar span {
    padding-left: 1em;
    padding-right: 1em;
    font-size: .8em;
    text-decoration: none;
}
/* ============location=============== */
.location {
    margin-bottom: 5em;
    background-color: #f7f7f7;
    position: relative;
    padding-bottom: 4.5em !important;
}

.location .item p {
    margin: 0;
    font-weight: 400;
    font-size: .85em;
}

.location .item p:first-child {
    font-weight: 700;
}
/* ============ad=============== */
.ad{
    padding: 0 2em 0 2em;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #b80f02;
    border-radius: 10px;
    color: #fff;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.wish .christmas{
    color: yellow;
    letter-spacing: .3em;
    font-size: 1.5em;
}

.wish .merry{
    display: flex;
    align-items: flex-end;
    transform: translateY(.3em);
    font-size: 1.3em;
}

.wish .happynewyear{
    font-size: .4em;
    display: flex;
    align-items: flex-end;
}

.discount{
    width: 60%;
    display: flex;
    align-items: center;
}

.discount img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
    align-items: center;
}

.discount .content {
    font-size: 2em;
}

.button{
    height: 2em;
    background-color: #fff;
    color: #343434;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    cursor: pointer;
}

.breadcum .item{
    color: #429799
}

/* ============step=============== */
section.content .step .number{
    width: 2em;
    height: 2em;
    margin-right: .5em;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    background-color: #f8ead1;
    font-weight: 800;
}

section.content .step:hover .number{
    background-color: #bae9ea;
}

.list-step{
    margin: 2em;
}

.table{
    border: .1px solid #e5e5e5;
    margin: 0;
}

.table img{
    width: 3.5em;
    height: 3.5em;
}

.table-footer{
    padding: 1.5em;
    display: flex;
    justify-content: flex-end;
}


/* ============footer=============== */
.footer {
    display: flex;
    background-color: #bae9e9;
    padding-top: 3em;
    padding-bottom: 3em;
}

.footer .title{
    margin-bottom: 1.5em;
    font-weight: 700;
}

label{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    body {
      font-size: 14px;
    }
    .commitment{
        padding: 2em !important;
    }
    .my-container {
        padding: 1em 1em 1em 1em;
    }
    
    .my-container-header {
        padding: 1em 2em 1em 2em;
    }
  }

  @media screen and (max-width: 768px) {
    body {
      font-size: 10px;
    }
    .location {
        margin-bottom: 3em;
    }   
    section.my-container.breadcum{
        font-size: 16px;
        padding: .5em;
    } 
    .my-container {
        padding: 1em 1em 1em 1em;
    }
    .ad{
        width: 95%;
    }
    .my-container-header {
        padding: 1em 2em 1em 2em;
    }

    .footer .item .title{
        font-size: 1em;
        margin-bottom: .8em;
    }
  }

  @media screen and (max-width: 375px) {
    body {
      font-size: 6px;
    }
    .my-container {
        padding: 1em 1em 1em 1em;
    }
    .ad{
        width: 100%;
    }
    .discount .content{
        font-size: 1.5em;
    }
    .table{
        font-size: 9px;
    }
    .my-container-header {
        padding: 1em 1em 1em 1em;
    }
  }